name: Build OpenWRT
on:
  workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: maximum build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192 
          swap-size-mb: 512
          remove-dotnet: true
          remove-android: true
          remove-docker-images: true
          remove-codeql: true
          remove-haskell: true
      - name: checkout
        uses: actions/checkout@v4
      - name: update dependencies
        run: |
          sudo sh -c 'echo "deb-src http://archive.ubuntu.com/ubuntu/ jammy main restricted universe multiverse" >> /etc/apt/sources.list'
          sudo sh -c 'echo "deb-src http://archive.ubuntu.com/ubuntu/ jammy-updates main restricted universe multiverse" >> /etc/apt/sources.list'
          sudo sh -c 'echo "deb-src http://archive.ubuntu.com/ubuntu/ jammy-security main restricted universe multiverse" >> /etc/apt/sources.list'
          sudo sh -c 'echo "deb-src http://archive.ubuntu.com/ubuntu/ jammy-backports main restricted universe multiverse" >> /etc/apt/sources.list'
          sudo apt update 
          sudo apt upgrade -y
          DEBIAN_FRONTEND=noninteractiveapt sudo apt install -y build-essential clang flex musl-tools bison g++ gcc gawk gettext git libncurses-dev libssl-dev python3-distutils rsync unzip zlib1g-dev file wget bash
          DEBIAN_FRONTEND=noninteractive sudo apt install -y subversion git g++ flex patch libncurses5-dev zlib1g-dev libssl-dev gawk xz-utils unzip libp11-kit-dev libmbedtls-dev 
          DEBIAN_FRONTEND=noninteractive sudo apt install -y gettext build-essential autoconf libtool libpcre3-dev asciidoc xmlto libmbedtls-dev libev-dev libudns-dev libsodium-dev libzstd-dev
      - name: fetch OpenWRT
        run: |
          git clone -b openwrt-22.03 https://github.com/openwrt/openwrt.git
          cp -f feeds.conf.default openwrt/feeds.conf.default
          git clone https://github.com/bricco1981/MT7622-mtkwifi.git
          cp -r MT7622-mtkwifi/package openwrt/
          cp -r MT7622-mtkwifi/target openwrt/
          cd openwrt
          curl -sSL https://raw.githubusercontent.com/chenmozhijin/turboacc/luci/add_turboacc.sh -o add_turboacc.sh && bash add_turboacc.sh
          scripts/feeds update -a
          scripts/feeds install -a
          cp ../.config ./
      - name: download
        run: |
          cd openwrt
          make defconfig
          make download -j2
      - name: compile
        run: |
          cd openwrt 
          rm -rf feeds/packages/lang/golang
          git clone https://github.com/sbwml/packages_lang_golang -b 20.x feeds/packages/lang/golang
          rm -rf feeds/packages/net/v2ray-geodata
          git clone https://github.com/sbwml/luci-app-mosdns -b v5 package/mosdns
          git clone https://github.com/sbwml/v2ray-geodata package/v2ray-geodata
          make V=sc -j2
      - name: compress
        run: |
          cd openwrt
          tar zcvf release.tar.gz bin/targets
      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: openwrt/release.tar.gz
        
